@import "../../theme/partials/colors";
@import "../../theme/reset";
@import "../../theme/font-family";
@import "../../theme/mixin/focus-mixin";
@import "../../theme/mixin/input-mixin";

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .input-wrapper {
    position: relative;
    @include base-input-styles;

    .icon + input {
      padding: 8px 36px inherit 12px;
    }

    .icon {
      position: absolute;
      font-size: 1.5rem;
      cursor: pointer;
      right: 10px;
      top: 30%;
      transform: translateY(-50%);

      &.invalid-icon {
        color: $red-accent;
      }
    }
  }

  &:focus-within {
    .input-wrapper .icon:not(.invalid-icon) {
      color: $primary-accent;
    }

    .input-wrapper input {
      &.invalid-input {
        @include focus-outline-error;
      }

      border-color: $primary-accent;
      @include focus-outline;
    }
  }
}
