@import "../../theme/partials/colors";
@import "../../theme/partials/font";
@import "../../theme/reset.scss";
@import "../../theme/font-family.scss";

:host {
  font-family: "Poppins", sans-serif;
}

.container {
  position: fixed;
  top: 0;
  background-color: $white;
  width: 330px;
  max-width: 80%;
  height: 100vh;
  padding: 36px 24px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transition: all 0.3s ease-out;
  z-index: 100;

  border: 1px solid;
}

aside.container-collapsed-desktop {
  width: 90px;
  align-items: center;

  .header {
    justify-content: center;

    &__title {
      display: none;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;

  &__title {
    color: $font-primary;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__menu-icon {
    cursor: pointer;
    font-size: $level2;
    color: $secondary;
  }
}
