@import "../../theme/partials/colors";
@import "../../theme/reset";
@import "../../theme/font-family";
@import "../../theme/mixin/focus-mixin";

.select-container {
  display: flex;
  flex-direction: column;
}

.select-box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 70px;
  margin-top: 0.5rem;
  width: 100%;
  background-color: $white;

  @include focus-outline;

  .options-container {
    z-index: 999;
    order: 1;
    position: absolute;
    top: 100%;
    background-color: $white;
    color: $gray-dark;
    font-weight: normal;
    max-height: 0;
    opacity: 0;
    width: 100%;
    transition: all 400ms;
    overflow: hidden;
    border: 1px solid $primary-accent;
    border-radius: 0 0 8px 8px;
  }

  .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }

  .options-container.active + .selected .icon {
    transform: rotateX(180deg);
  }

  .options-container.active + .selected {
    border-radius: 8px 8px 0 0;
  }

  .selected,
  .option {
    padding: 8px 12px;
    cursor: pointer;
  }

  .option {
    &.is-hovered,
    &:hover {
      background-color: rgba($primary-lighter, 0.5);
      cursor: pointer;
    }

    &:active {
      background-color: $primary-accent;
      color: $white;
    }

    &:not(:first-child) {
      border-top: 1px solid $primary-accent;
    }

    .radio {
      display: none;
    }
  }

  .selected {
    order: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: $white;
    border: 1px solid $gray-accent;
    border-radius: 8px;
    @include focus-outline;

    & > span {
      color: $gray-accent;
    }

    .icon {
      transition: all 400ms;
    }
  }
}
