@import "../../../../theme/reset.scss";
@import "../../../../theme/font-family.scss";
@import "../../../../theme/partials/colors";
@import "../../../../theme/partials/font";

.items-list {
  &__active {
    .icon {
      color: $secondary;
    }

    span {
      color: $font-primary;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 16px 0;
    border-bottom: 1px solid $gray-lighter;
    color: $gray;
    transition: all 500ms ease-in-out;

    &:hover {
      .icon {
        color: $secondary;
      }

      span {
        color: $font-primary;
      }
    }

    &:first-child {
      border-top: 1px solid $gray-lighter;
    }

    .icon,
    span {
      font-size: $default;
      font-weight: normal;
    }

    span {
      text-transform: capitalize;
    }
  }
}

.tooltip > .icon {
  padding: 5px 20px;
}
