@import "../../../../theme/reset.scss";
@import "../../../../theme/partials/colors";
@import "../../../../theme/partials/font";

.items-list {
  &__active {
    .icon {
      color: $secondary;
    }

    span {
      color: $font-primary;
    }
  }

  &__item {
    display: flex;
    gap: 8px;
    cursor: pointer;
    padding: 16px 0;
    border-bottom: 1px solid $gray-lighter;
    color: $gray;
    transition: all 500ms ease-in-out;

    &:hover {
      .icon {
        color: $secondary;
      }

      span {
        color: $font-primary;
      }
    }

    &:first-child {
      border-top: 1px solid $gray-lighter;
    }

    .icon {
      font-size: $default;
    }

    span {
      font-size: $default;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

.item-title-hidden {
  display: none;
}
