@import "../../theme/partials/colors";
@import "../../theme/partials/font";
@import "../../theme/reset.scss";
@import "../../theme/font-family.scss";

:host {
  font-family: "Poppins", sans-serif;
}

$tooltip-space: -50px;

.container {
  position: relative;
  display: flex;

  .tooltip {
    z-index: 999;
    position: absolute;
    pointer-events: none;
    font-size: 0.8rem;
    background: rgba($primary-lighter, 0.9);
    color: $font-primary;
    padding: 10px 18px;
    border-radius: 25px;
    opacity: 0;
    box-shadow: 0px 10px 10px rgba($primary-lighter, 0.5);
    transition: 300ms ease-out;

    &.top {
      left: 50%;
      top: $tooltip-space;
      transform: translateX(-50%);
    }

    &.bottom {
      left: 50%;
      bottom: $tooltip-space;
      transform: translateX(-50%);
    }

    &.left {
      top: 50%;
      left: $tooltip-space;
      transform: translate(-50%, -50%);
    }

    &.right {
      top: 50%;
      right: $tooltip-space;
      transform: translate(50%, -50%);
    }
  }

  &:hover .tooltip {
    opacity: 1;
    pointer-events: all;
  }

  slot {
    position: relative;
  }
}
